.App {
  min-height: 100vh;
  background: #2BC0E4; 
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);
  background: linear-gradient(to right, #EAECC6, #2BC0E4);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 40%;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

button.search-button{
  padding: 10px;
  border-radius: 8px;
  background: white;
  border: none;
  margin-left: 8px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}